@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
}

body {
    background: red;
    
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .inshallah {
        font-size: 3em;
    }

    .logo {
    
        max-width: 400px;
        animation: animate 4s ease-out infinite;
    }

    .container {
        margin-top: 2em;
        text-align: center;

    }
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
    

}